<section id="aboutwe" class="pt-8 md:pt-24 bg-gray-100">
    <div class="flex flex-col md:flex-row items-center mt-6 md:items-start space-y-4 md:space-y-0 px-4 md:px-16 py-8 md:py-12">
        <!-- Imagen -->
        <div class="w-full md:w-1/2 mb-8 md:mb-0">
            <img src="images/sobrenosotros (2).jpeg" alt="Descripción de la imagen" class="w-full h-auto rounded-lg shadow-lg">
        </div>
        
        <!-- Texto -->
        <div class="w-full md:w-1/2 md:pl-6">
            <h2 class="text-4xl md:text-5xl lg:text-6xl font-Nunito font-bold text-black mb-14 md:mb-12 text-center md:text-left">Impulsa Partners</h2>
            <p class="text-black text-lg md:text-xl lg:text-2xl font-sans leading-relaxed text-center md:text-left">
                Somos una startup impulsada por colaboradores con más de 10 años de experiencia en la gestión integral de recupero de cartera en todas sus etapas (Temprana, Media y Tardía).<br><br>
                Analizamos y planificamos estrategias a medida sumando el impacto de la tecnología sin perder la esencia del factor humano para mantener la cercanía y transparencia en nuestras relaciones, construyendo alianzas basadas en la confianza y el éxito mutuo.
            </p>
        </div>
    </div>
</section>
