<section class="relative bg-cover bg-center bg-no-repeat py-16 px-4 lg:px-16" style="background-image: url('images/tecnologias.jpg');" id="tecnologias">
    <div class="absolute inset-0 bg-black opacity-40"></div> <!-- Overlay for better text readability -->

    <div class="relative container mx-auto text-center z-10">
        <h1 class="text-4xl md:text-5xl font-Nunito font-bold text-white mb-12">Tecnologías</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            <!-- Column 1: CRM -->
            <div class="bg-white bg-opacity-80 p-6 rounded-lg shadow-lg flex flex-col items-center text-center">
                <div class="mb-4">
                    <i class="fas fa-cogs text-blue-600 text-4xl"></i> <!-- Icon for CRM -->
                </div>
                <h3 class="text-2xl font-Nunito font-semibold text-gray-800 mb-2">CRM</h3>
                <p class="text-gray-600">
                    Sistema de Gestión desarrollado específicamente para Cobranzas con todas las funcionalidades e integraciones necesarias.
                </p>
            </div>

            <!-- Column 2: Reportería -->
            <div class="bg-white bg-opacity-80 p-6 rounded-lg shadow-lg flex flex-col items-center text-center">
                <div class="mb-4">
                    <i class="fas fa-chart-line text-green-600 text-4xl"></i> <!-- Icon for Reportería -->
                </div>
                <h3 class="text-2xl font-Nunito font-semibold text-gray-800 mb-2">Reportería</h3>
                <p class="text-gray-600">
                    Con la integración de Business Intelligence (BI), generamos reportería tanto desarrollada como a medida para el análisis en tiempo real de los KPI´s.
                </p>
            </div>

            <!-- Column 3: Campañas Masivas -->
            <div class="bg-white bg-opacity-80 p-6 rounded-lg shadow-lg flex flex-col items-center text-center">
                <div class="mb-4">
                    <i class="fas fa-bullhorn text-red-600 text-4xl"></i> <!-- Icon for Campañas Masivas -->
                </div>
                <h3 class="text-2xl font-Nunito font-semibold text-gray-800 mb-2">Campañas Masivas</h3>
                <p class="text-gray-600">
                    Con análisis previo, se ejecutan diferentes campañas masivas para lograr un contacto efectivo (SMS - Mail - Entre otros).
                </p>
            </div>
        </div>
    </div>
</section>
