<section class="bg-gray-100 py-24 px-4 lg:px-16" id="contacto">
    <div class="container mx-auto text-center">
      <h1 class="text-4xl md:text-5xl font-Nunito font-bold text-gray-900 mb-12">Contacto</h1>
      
      <!-- Contact Form -->
      <div class="max-w-lg mx-auto bg-white p-8 rounded-lg shadow-lg">
        <form action="mailto:tu-email@dominio.com" method="post" enctype="text/plain">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div class="mb-4">
              <label for="name" class="block text-gray-700 text-sm font-bold mb-2">Nombre</label>
              <input type="text" id="name" name="name" required class="w-full border border-gray-300 rounded-lg py-2 px-4">
            </div>
            <div class="mb-4">
              <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Correo Electrónico</label>
              <input type="email" id="email" name="email" required class="w-full border border-gray-300 rounded-lg py-2 px-4">
            </div>
            <div class="mb-4">
              <label for="phone" class="block text-gray-700 text-sm font-bold mb-2">Celular</label>
              <input type="tel" id="phone" name="phone" required class="w-full border border-gray-300 rounded-lg py-2 px-4">
            </div>
            <div class="mb-4 col-span-2">
              <label for="message" class="block text-gray-700 text-sm font-bold mb-2">Mensaje</label>
              <textarea id="message" name="message" rows="4" required class="w-full border border-gray-300 rounded-lg py-2 px-4"></textarea>
            </div>
          </div>
          <button type="submit" class="w-full bg-blue-700 text-white py-3 px-4 rounded-lg shadow-lg hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-blue-300">Enviar</button>
        </form>
      </div>
  
      <!-- Contact Icons -->
      <div class="mt-12 grid grid-cols-2 sm:grid-cols-4 gap-8">
        <div class="flex flex-col items-center">
          <img src="images/mail.png" alt="Email" class="w-16 h-16 mb-2">
          <span class="text-gray-700 font-sans">Email</span>
        </div>
        <div class="flex flex-col items-center">
          <img src="images/horario.png" alt="Horario" class="w-16 h-16 mb-2">
          <span class="text-gray-700 font-sans">Horarios</span>
        </div>
        <div class="flex flex-col items-center">
          <img src="images/ubicacion.png" alt="Ubicación" class="w-16 h-16 mb-2">
          <span class="text-gray-700 font-sans">Ubicación</span>
        </div>
        <div class="flex flex-col items-center">
          <img src="images/tel.png" alt="Teléfono" class="w-16 h-16 mb-2">
          <span class="text-gray-700 font-sans">Teléfono</span>
        </div>
      </div>
    </div>
  </section>
  